<div class="container">
  <h2>Personal details</h2>
  <p>
    <strong>Name:</strong> Yaniv Kalfa<br>
    <strong>I live at:</strong> 620 beidleman creek road, Bristol TN<br>
    <strong>A bit about my self:</strong>I am a self thought developer. I've been programming for about 13 years, Spent the last 5 years in web development. Worked on many different projects.
    I am experienced and comfortable with OOP, and functional programming.<br>
    I've dedicated the past 3+ years almost exclusively to JavaScript.<br>
    learning how to: use modern and classic design pattern, capitalize on JS's strong parts and avoid the bad parts, optimize code to perform better and much more.<br>
    <strong>Work and services:</strong>I am a freelancer, I work mostly through upwork(where i have about 6000 recorded working hours), and return clients.<br>
    <strong>Email:</strong> netameta1@yahoo.com<br>
    <strong>Github:</strong> <a href="https://github.com/yanivkalfa">github profile</a><br>
  </p>
  <h2>My experience:</h2>
  <p>
    <strong>Server side:</strong> PHP, Node.js.<br>
    <strong>Client side:</strong> Javascript(ES5,ES6 and ES7), coffeeScript, jQuery, AngularJS, reactjs, EmberJS, BackboneJS, D3.js,  ExtJS, AJAX, Bootstrap, Underscore<br>
    <strong>UnitTesting:</strong> Mocha, Jasmine, protector, Karma ,Protractor<br>
    <strong>MVC Frameworks and CMS:</strong> expressJS, sailsJS, Zend, Codeigniter, CakePHP, Magento,  Wordpress, Joomla, Smarty, Jade, NoFlo<br>
    <strong>Databases:</strong> Redis, MySQL, MongoDB, SQLite, NoSQL,Memcached.<br>
    <strong>Software Content Management:</strong> Git, Github, Heroku, SVN, trello, bitbucket, asana, pivot tracker, tpondemand....<br>
    <strong>Miscellaneous APIs:</strong> Strip Facebook, Twitter, Instagram, Google Map, Google Custom Search, Youtube, Linkedin, Yelp, Fedex, UPS, USPS, DHL, oAuth, PayPal checkouts(all kind), amazon checkout.<br>
    <strong>Others:</strong> HTML5,CSS3, JSON, XML, C#. less<br>
  </p>
</div>